:root {

}
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;;

}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2rem;
    padding: 30px 10%;
    background-color: blue;
}
.logo{
    cursor: pointer;
    margin-right: auto;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-size: 2rem;
    font-style: bold;
}
.navbar{
    display:flex;
    align-items: center; 
    background-color: red;   
}
.navbar ul{
    display: flex;
    list-style: none;
    background-color: white;
}